@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
/*
#   Built By FatCat =^^=
#   www.fatcatonline.net
*/
/* line 12, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 22, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 31, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 40, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 54, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 64, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 76, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 85, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 98, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 107, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 116, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 124, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 132, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 154, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 163, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 171, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 179, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 188, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 195, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 199, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 211, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 219, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 231, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 243, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 254, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 268, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 280, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 292, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 307, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 317, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 327, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 338, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 351, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 360, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 370, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 383, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 388, ../sass/_normalize.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 397, ../sass/_normalize.scss */
.clearfix {
  display: inline-block;
}

/* line 401, ../sass/_normalize.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 405, ../sass/_normalize.scss */
* html .clearfix {
  height: 1%;
}

/* line 407, ../sass/_normalize.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 416, ../sass/_normalize.scss */
.clearfix {
  display: inline-block;
}

/* line 420, ../sass/_normalize.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 424, ../sass/_normalize.scss */
* html .clearfix {
  height: 1%;
}

/* line 3, ../sass/_app.scss */
body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
  font: normal 13px/18px 'Source Sans Pro', sans-serif;
  background: white;
}

/* line 11, ../sass/_app.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 16, ../sass/_app.scss */
p {
  font-size: 1em;
}

/* line 18, ../sass/_app.scss */
h1 {
  font-size: 2.077em;
  font-weight: 700;
  margin: 5px 0 20px 0;
  text-transform: uppercase;
}

/* line 26, ../sass/_app.scss */
#nav-toggle,
#search-show {
  display: none;
}

/* line 35, ../sass/_app.scss */
a,
.button,
.outer-wrap,
.single_add_to_cart_button {
  -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
}

/* line 69, ../sass/_app.scss */
.shopBtn {
  float: left;
  margin: 20px 0 0 20px;
  padding: 0;
  color: #42cdc8;
}
/* line 74, ../sass/_app.scss */
.shopBtn p {
  margin: 0;
  padding: 0;
}
/* line 77, ../sass/_app.scss */
.shopBtn p a {
  color: inherit;
  margin: 0 0 0 5px;
  border-bottom: 1px dashed #ccc;
}
/* line 82, ../sass/_app.scss */
.shopBtn p:hover {
  color: #ccc;
  border-bottom: none;
}

/* line 94, ../sass/_app.scss */
.search input[type="text"],
.search input[type="submit"],
.newsletter input[type="text"],
.newsletter input[type="submit"] {
  float: left;
  margin: 0;
  line-height: 20px;
  color: #ccc;
  background: #222;
  border: none;
}
/* line 102, ../sass/_app.scss */
.search input[type="text"],
.newsletter input[type="text"] {
  outline: none;
  padding: 10px 20px;
}
/* line 106, ../sass/_app.scss */
.search input[type="submit"],
.newsletter input[type="submit"] {
  font-size: .95em;
  padding: 10px 15px;
  background: #333;
  border-left: none;
}

/* line 117, ../sass/_app.scss */
.line,
.singleLine {
  display: block;
  width: 25%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ccc;
}

/* line 128, ../sass/_app.scss */
.wrapper {
  width: 100%;
  height: 40px;
  position: relative;
  background: black;
}
/* line 135, ../sass/_app.scss */
.wrapper .left {
  float: left;
}
/* line 140, ../sass/_app.scss */
.wrapper .right {
  height: 40px;
  float: right;
}
/* line 143, ../sass/_app.scss */
.wrapper .right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 147, ../sass/_app.scss */
.wrapper .right ul li {
  float: left;
  margin: 10px 0 10px 10px;
  padding: 0 10px;
  line-height: 20px;
  border-right: 1px solid #666;
}
/* line 153, ../sass/_app.scss */
.wrapper .right ul li a {
  color: #ccc;
  font-size: .85em;
}
/* line 156, ../sass/_app.scss */
.wrapper .right ul li a:hover {
  color: white;
}
/* line 160, ../sass/_app.scss */
.wrapper .right ul li:last-child {
  border: none;
}
/* line 167, ../sass/_app.scss */
.wrapper .right .social {
  height: 40px;
  margin: 0 0 0 10px;
  padding: 0;
}
/* line 171, ../sass/_app.scss */
.wrapper .right .social li {
  width: 20px;
  height: 20px;
  margin: 10px 0 0 0;
  overflow: hidden;
  border: none !important;
}
/* line 177, ../sass/_app.scss */
.wrapper .right .social li a {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: -999em;
  opacity: .3;
}
/* line 184, ../sass/_app.scss */
.wrapper .right .social li a:hover {
  opacity: .6;
}
/* line 188, ../sass/_app.scss */
.wrapper .right .social li .inst {
  background: url("../img/icon-instagram.svg") no-repeat center;
}
/* line 189, ../sass/_app.scss */
.wrapper .right .social li .twit {
  background: url("../img/icon-twitter.svg") no-repeat center;
}
/* line 190, ../sass/_app.scss */
.wrapper .right .social li .face {
  background: url("../img/icon-facebook.svg") no-repeat center;
}
/* line 195, ../sass/_app.scss */
.wrapper .right .search {
  border: none;
  margin: 0 0 0 10px;
  background: #222;
}
/* line 199, ../sass/_app.scss */
.wrapper .right .search input[type="text"] {
  border-right: none;
}
/* line 202, ../sass/_app.scss */
.wrapper .right .search input[type="submit"] {
  display: block;
  width: 40px;
  height: 40px;
  outline: none;
  overflow: hidden;
  text-indent: -999em;
  opacity: .5;
  background: #222222 url("../img/search.svg") no-repeat top left;
}

/* line 217, ../sass/_app.scss */
.container {
  width: 1100px;
  margin: 0 auto;
}
/* line 220, ../sass/_app.scss */
.container header {
  text-align: center;
  margin: 0;
  padding: 50px 0 0 0;
}
/* line 224, ../sass/_app.scss */
.container header .logo {
  display: block;
  width: 563px;
  height: 80px;
  margin: 0 auto;
}
/* line 230, ../sass/_app.scss */
.container header nav {
  padding: 0;
}
/* line 232, ../sass/_app.scss */
.container header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 237, ../sass/_app.scss */
.container header nav ul li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
/* line 242, ../sass/_app.scss */
.container header nav ul li a {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0 35px 5px 35px;
  font-size: 1.077em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}
/* line 252, ../sass/_app.scss */
.container header nav ul li a:hover {
  color: #42cdc8;
  border-bottom: 1px solid #42cdc8;
}
/* line 258, ../sass/_app.scss */
.container header nav ul li:first-child a {
  padding: 0 35px 5px 0;
}
/* line 261, ../sass/_app.scss */
.container header nav ul li:last-child a {
  padding: 0 0 5px 35px;
}
/* line 271, ../sass/_app.scss */
.container #blog nav {
  width: 100%;
  float: left;
  position: relative;
  margin: 30px 0 10px 0;
}
/* line 276, ../sass/_app.scss */
.container #blog nav ul {
  clear: left;
  float: left;
  position: relative;
  left: 50%;
}
/* line 281, ../sass/_app.scss */
.container #blog nav ul li {
  position: relative;
  right: 50%;
}
/* line 293, ../sass/_app.scss */
.container #home nav {
  width: 100%;
  margin: 30px auto 0 auto;
  text-align: center;
}
/* line 297, ../sass/_app.scss */
.container #home nav ul {
  display: inline-block;
}
/* line 305, ../sass/_app.scss */
.container .lookBook_post {
  width: inherit;
  margin: 0 auto;
  padding: 0 0 0 0;
}
/* line 309, ../sass/_app.scss */
.container .lookBook_post h1 {
  margin-top: 30px;
  line-height: 5px;
  clear: both;
}
/* line 314, ../sass/_app.scss */
.container .lookBook_post p {
  margin: 0 0 20px;
  text-align: center;
}
/* line 319, ../sass/_app.scss */
.container .lookBook_post a img {
  width: 100%;
  height: auto;
  margin: 0 0 20px;
}
/* line 324, ../sass/_app.scss */
.container .lookBook_post time {
  color: #42cdc8;
  margin: 0;
  padding: 10px 0 10px 25px;
  font-size: .923em;
  line-height: 18px;
  word-spacing: 2px;
  text-transform: uppercase;
  background: url("../img/icon-clock.svg") no-repeat left;
}
/* line 335, ../sass/_app.scss */
.container .lookBook_post .line {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* line 342, ../sass/_app.scss */
.container section {
  width: 660px;
  margin: 0 auto;
  padding: 0 0 40px 0;
}
/* line 346, ../sass/_app.scss */
.container section article {
  width: inherit;
  margin: 40px 0;
}
/* line 349, ../sass/_app.scss */
.container section article h1 {
  line-height: 30px;
}
/* line 352, ../sass/_app.scss */
.container section article p {
  margin: 0 0 20px;
  text-align: center;
}
/* line 356, ../sass/_app.scss */
.container section article img {
  width: 100%;
  height: auto;
  margin: 0 0 20px;
}
/* line 360, ../sass/_app.scss */
.container section article time {
  color: #42cdc8;
  margin: 0;
  padding: 10px 0 10px 25px;
  font-size: .923em;
  line-height: 18px;
  word-spacing: 2px;
  text-transform: uppercase;
  background: url("../img/icon-clock.svg") no-repeat left;
}
/* line 372, ../sass/_app.scss */
.container section article .count {
  width: 100%;
  margin: 40px auto 0 auto;
  font-weight: 400;
  font-size: .85em;
  word-spacing: 5px;
  text-transform: uppercase;
}
/* line 380, ../sass/_app.scss */
.container section article .count a:hover {
  color: #42cdc8;
}
/* line 387, ../sass/_app.scss */
.container section article .line {
  margin-top: 10px;
  margin-bottom: 60px;
}
/* line 391, ../sass/_app.scss */
.container section article .singleLine {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 397, ../sass/_app.scss */
.container section article .comments {
  width: 100%;
}

/* line 406, ../sass/_app.scss */
footer {
  width: 100%;
  margin: 0;
  padding: 40px 0 30px 0;
  color: #ccc;
  text-align: left;
  background: black;
}
/* line 413, ../sass/_app.scss */
footer h4 {
  margin: 0 0 5px 0;
  font-size: 1.154em;
  text-transform: uppercase;
}
/* line 418, ../sass/_app.scss */
footer .left {
  float: left;
}
/* line 420, ../sass/_app.scss */
footer .left .block {
  width: 200px;
  float: left;
}
/* line 423, ../sass/_app.scss */
footer .left .block ul {
  width: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 428, ../sass/_app.scss */
footer .left .block ul li {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
/* line 432, ../sass/_app.scss */
footer .left .block ul li a {
  color: #999;
}
/* line 434, ../sass/_app.scss */
footer .left .block ul li a:hover {
  color: white;
}
/* line 442, ../sass/_app.scss */
footer .right {
  float: right;
  text-align: right;
}
/* line 446, ../sass/_app.scss */
footer .right input[type="text"],
footer .right input[type="submit"] {
  padding: 5px 10px;
}
/* line 449, ../sass/_app.scss */
footer .right input[type="text"] {
  color: #222;
  background: #e1e1e1;
}
/* line 453, ../sass/_app.scss */
footer .right input[type="submit"] {
  font-weight: bold;
}
/* line 455, ../sass/_app.scss */
footer .right input[type="submit"]:hover {
  background: #555;
}
/* line 460, ../sass/_app.scss */
footer .row {
  width: 100%;
  margin: 51px 0 0 0;
  color: #999;
}
/* line 464, ../sass/_app.scss */
footer .row p {
  margin: 0;
  padding: 0;
}
/* line 467, ../sass/_app.scss */
footer .row p a {
  color: #448ccb;
  font-style: italic;
}

/* line 475, ../sass/_app.scss */
.slider {
  width: 100%;
  margin: 10px 0 20px 0;
  padding: 0;
  background: #ccc;
}

/* line 482, ../sass/_app.scss */
.lookBook_meta {
  width: 660px;
  margin: 40px auto;
}

/* Start Shop Styling */
/* line 2, ../sass/_shop.scss */
#sidebar {
  width: 160px;
  float: left;
  text-align: left;
}
/* line 6, ../sass/_shop.scss */
#sidebar .desktop {
  display: block;
}
/* line 9, ../sass/_shop.scss */
#sidebar .mobile {
  display: none;
}
/* line 12, ../sass/_shop.scss */
#sidebar h4 {
  margin: 44px 0 5px 0;
}
/* line 15, ../sass/_shop.scss */
#sidebar ul {
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/_shop.scss */
#sidebar ul li {
  list-style: none;
}
/* line 20, ../sass/_shop.scss */
#sidebar ul li a {
  color: black;
}
/* line 22, ../sass/_shop.scss */
#sidebar ul li a:hover {
  color: #42cdc8;
}

/* line 36, ../sass/_shop.scss */
#cart .woocommerce-info,
#cart .woocommerce-message,
#cart .woocommerce-error,
#main .woocommerce-info,
#main .woocommerce-message,
#main .woocommerce-error {
  color: black;
  font-weight: bold;
  margin-top: 10px;
  background: #e1e1e1 url("../img/message-stripes.png") repeat top left;
  text-shadow: none;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 53, ../sass/_shop.scss */
#cart .woocommerce-info .button,
#cart .woocommerce-message .button,
#cart .woocommerce-error .button,
#main .woocommerce-info .button,
#main .woocommerce-message .button,
#main .woocommerce-error .button {
  height: auto;
  margin: 0;
  padding: 0 10px 0 0;
  color: black;
  line-height: normal;
  background: 0;
}
/* line 60, ../sass/_shop.scss */
#cart .woocommerce-info .button:hover,
#cart .woocommerce-message .button:hover,
#cart .woocommerce-error .button:hover,
#main .woocommerce-info .button:hover,
#main .woocommerce-message .button:hover,
#main .woocommerce-error .button:hover {
  padding-right: 5px;
  color: #42cdc8;
  background: transparent;
}
/* line 70, ../sass/_shop.scss */
#cart .woocommerce-info,
#cart .woocommerce-message,
#main .woocommerce-info,
#main .woocommerce-message {
  border-top: 1px solid #42cdc8;
}
/* line 72, ../sass/_shop.scss */
#cart .woocommerce-info:before,
#cart .woocommerce-message:before,
#main .woocommerce-info:before,
#main .woocommerce-message:before {
  background-color: #42cdc8;
}
/* line 77, ../sass/_shop.scss */
#cart .woocommerce-error,
#main .woocommerce-error {
  border-top: 1px solid #b94e4e;
}
/* line 79, ../sass/_shop.scss */
#cart .woocommerce-error:before,
#main .woocommerce-error:before {
  background-color: #b94e4e;
}
/* line 85, ../sass/_shop.scss */
#cart .woocommerce,
#main .woocommerce {
  width: 50%;
}
/* line 87, ../sass/_shop.scss */
#cart .woocommerce h2, #cart .woocommerce h3,
#main .woocommerce h2,
#main .woocommerce h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}
/* line 92, ../sass/_shop.scss */
#cart .woocommerce form .input-text,
#main .woocommerce form .input-text {
  padding: 5px 10px;
  border: none;
  border: 1px solid #ccc;
}
/* line 96, ../sass/_shop.scss */
#cart .woocommerce form .input-text:focus,
#main .woocommerce form .input-text:focus {
  border: 1px solid #999;
}
/* line 100, ../sass/_shop.scss */
#cart .woocommerce form .button,
#main .woocommerce form .button {
  text-shadow: none;
  -webkit-border-radius: none !important;
  border-radius: none !important;
}
/* line 107, ../sass/_shop.scss */
#cart .woocommerce .myaccount_user,
#main .woocommerce .myaccount_user {
  font-size: 1.25em;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
/* line 112, ../sass/_shop.scss */
#cart .woocommerce .myaccount_user a,
#main .woocommerce .myaccount_user a {
  color: #42cdc8;
}
/* line 118, ../sass/_shop.scss */
#cart .woocommerce .addresses .title,
#main .woocommerce .addresses .title {
  padding-top: 0;
}
/* line 120, ../sass/_shop.scss */
#cart .woocommerce .addresses .title h3,
#main .woocommerce .addresses .title h3 {
  font-size: 1.3em;
  background: #e1e1e1;
  width: 100%;
  height: 30px;
  margin-top: 0;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-indent: 10px;
}
/* line 131, ../sass/_shop.scss */
#cart .woocommerce .addresses .title .edit,
#main .woocommerce .addresses .title .edit {
  color: black;
}
/* line 133, ../sass/_shop.scss */
#cart .woocommerce .addresses .title .edit:hover,
#main .woocommerce .addresses .title .edit:hover {
  color: #42cdc8;
}
/* line 142, ../sass/_shop.scss */
#cart .woocommerce-breadcrumb,
#main .woocommerce-breadcrumb {
  margin: 8px 0 20px 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 147, ../sass/_shop.scss */
#cart .woocommerce-breadcrumb a,
#main .woocommerce-breadcrumb a {
  font-weight: normal;
}
/* line 159, ../sass/_shop.scss */
#cart ul.products,
#main ul.products {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 163, ../sass/_shop.scss */
#cart ul.products li,
#main ul.products li {
  width: 220px;
  float: left;
  margin: 0 0 30px 20px;
  text-align: center;
  list-style: none;
}
/* line 170, ../sass/_shop.scss */
#cart ul.products li a:hover,
#main ul.products li a:hover {
  color: #42cdc8;
}
/* line 174, ../sass/_shop.scss */
#cart ul.products li p,
#main ul.products li p {
  margin: 0;
  font-weight: 700;
  text-transform: capitalize;
}
/* line 180, ../sass/_shop.scss */
#cart ul.products .first,
#main ul.products .first {
  margin: 0;
}
/* line 186, ../sass/_shop.scss */
#cart .images,
#main .images {
  float: left;
}
/* line 188, ../sass/_shop.scss */
#cart .images a,
#main .images a {
  float: left;
  margin: 0 20px 0 0;
}
/* line 192, ../sass/_shop.scss */
#cart .images .thumbnails,
#main .images .thumbnails {
  width: 104px;
  float: left;
  margin: 0 20px 0 0;
}
/* line 196, ../sass/_shop.scss */
#cart .images .thumbnails a,
#main .images .thumbnails a {
  width: 104px;
  height: 150px;
  margin: 0 0 20px 0;
}
/* line 200, ../sass/_shop.scss */
#cart .images .thumbnails a img,
#main .images .thumbnails a img {
  width: auto;
  height: 100%;
}
/* line 204, ../sass/_shop.scss */
#cart .images .thumbnails a:last-child,
#main .images .thumbnails a:last-child {
  margin: 0;
}
/* line 212, ../sass/_shop.scss */
#cart .summary,
#main .summary {
  width: 450px;
  float: left;
}
/* line 215, ../sass/_shop.scss */
#cart .summary h1,
#main .summary h1 {
  margin: 0 0 5px 0;
}
/* line 219, ../sass/_shop.scss */
#cart .summary .product_meta .sku,
#main .summary .product_meta .sku {
  font-style: italic;
}
/* line 223, ../sass/_shop.scss */
#cart .summary .price,
#main .summary .price {
  margin: 30px;
}
/* line 225, ../sass/_shop.scss */
#cart .summary .price span,
#main .summary .price span {
  font-size: 2.5em;
  font-style: italic;
  font-weight: bold;
}
/* line 233, ../sass/_shop.scss */
#cart .summary .quantity input[type="number"],
#main .summary .quantity input[type="number"] {
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  padding: 0 15px;
  line-height: 40px;
  background: #e1e1e1;
  border: none;
}
/* line 246, ../sass/_shop.scss */
#cart .summary .single_add_to_cart_button,
#main .summary .single_add_to_cart_button {
  float: left;
}
/* line 252, ../sass/_shop.scss */
#cart .related,
#main .related {
  width: 100%;
  margin: 50px 0 0 0;
}
/* line 255, ../sass/_shop.scss */
#cart .related ul.products,
#main .related ul.products {
  margin: 0 0 0 -10px;
}
/* line 257, ../sass/_shop.scss */
#cart .related ul.products li,
#main .related ul.products li {
  width: 175px;
  margin: 0 10px 0 0;
}
/* line 261, ../sass/_shop.scss */
#cart .related ul.products li a img,
#main .related ul.products li a img {
  width: 100%;
  height: auto;
}

/* line 273, ../sass/_shop.scss */
#cart {
  width: 100%;
  text-align: left;
}
/* line 276, ../sass/_shop.scss */
#cart .woocommerce {
  width: 100%;
}
/* line 278, ../sass/_shop.scss */
#cart .woocommerce .shop_table {
  width: 100%;
  border: 0;
}
/* line 288, ../sass/_shop.scss */
#cart .woocommerce .shop_table .cart_table_item {
  width: 100%;
  margin-top: 10px;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 299, ../sass/_shop.scss */
#cart .woocommerce .shop_table .cart_table_item .product-remove,
#cart .woocommerce .shop_table .cart_table_item .product-thumbnail,
#cart .woocommerce .shop_table .cart_table_item .product-name,
#cart .woocommerce .shop_table .cart_table_item .product-price,
#cart .woocommerce .shop_table .cart_table_item .product-quantity,
#cart .woocommerce .shop_table .cart_table_item .product-subtotal {
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  display: table-column;
  vertical-align: middle;
}
/* line 307, ../sass/_shop.scss */
#cart .woocommerce .shop_table .cart_table_item .product-remove {
  width: 5%;
}
/* line 308, ../sass/_shop.scss */
#cart .woocommerce .shop_table .cart_table_item .product-name {
  width: 35%;
}
/* line 309, ../sass/_shop.scss */
#cart .woocommerce .shop_table .cart_table_item .product-price {
  width: 15%;
}
/* line 310, ../sass/_shop.scss */
#cart .woocommerce .shop_table .cart_table_item .product-quantity {
  width: 20%;
}
/* line 311, ../sass/_shop.scss */
#cart .woocommerce .shop_table .cart_table_item .product-subtotal {
  width: 15%;
}
/* line 312, ../sass/_shop.scss */
#cart .woocommerce .shop_table .cart_table_item .title {
  width: 100%;
  padding: 5px 0;
  margin: 0 0 20px 0;
  border-top: 1px solid #42cdc8;
  background: url("../img/message-stripes.png") repeat top left;
}
/* line 322, ../sass/_shop.scss */
#cart .woocommerce .shop_table .cart_table_item .product-remove a {
  color: #ff0000;
  font-weight: bold;
  font-size: 1.25em;
}
/* line 330, ../sass/_shop.scss */
#cart .woocommerce .actions {
  width: 100%;
}
/* line 332, ../sass/_shop.scss */
#cart .woocommerce .actions .coupon {
  float: left;
}
/* line 335, ../sass/_shop.scss */
#cart .woocommerce .actions .options {
  float: right;
}
/* line 340, ../sass/_shop.scss */
#cart .woocommerce .cart-collaterals .cart_totals {
  width: auto;
}
/* line 343, ../sass/_shop.scss */
#cart .woocommerce .cart-collaterals .shipping-calculator-form {
  width: 300px;
  float: right;
}
/* line 349, ../sass/_shop.scss */
#cart .woocommerce .checkout .col2-set {
  width: 100% !important;
}

/* line 358, ../sass/_shop.scss */
#main {
  width: 940px;
  float: left;
  text-align: left;
}
/* line 363, ../sass/_shop.scss */
#main .tabs {
  display: none;
}
/* line 367, ../sass/_shop.scss */
#main .button {
  height: 40px;
  padding: 0 15px;
  color: white;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  border: none;
  background: black;
}
/* line 376, ../sass/_shop.scss */
#main .button:hover {
  background: #42cdc8;
}
/* line 383, ../sass/_shop.scss */
#main .woocommerce .shop_table {
  width: 100%;
  border: 0;
}
/* line 386, ../sass/_shop.scss */
#main .woocommerce .shop_table thead {
  background: #e1e1e1 !important;
}
/* line 390, ../sass/_shop.scss */
#main .woocommerce ul.order_details {
  padding: 20px;
  border-top: 1px solid #42cdc8;
  background: #e1e1e1 url("../img/message-stripes.png") repeat top left;
}
/* line 395, ../sass/_shop.scss */
#main .woocommerce .order_details {
  color: #111;
  text-shadow: 1px 1px 1px #f6f6f6;
  background: #ededed;
}
/* line 400, ../sass/_shop.scss */
#main .woocommerce header {
  padding-top: 30px;
  text-align: left;
}
/* line 405, ../sass/_shop.scss */
#main .woocommerce .customer_details dt {
  font-weight: bold;
}
/* line 408, ../sass/_shop.scss */
#main .woocommerce .customer_details dd {
  margin: 0 0 20px 0;
}

@media all and (min-width: 320px) and (max-width: 750px) {
  /* line 4, ../sass/_mobile.scss */
  body,
  html {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font: normal 14px/18px 'Source Sans Pro', sans-serif;
    background: white;
  }

  /* line 13, ../sass/_mobile.scss */
  .shopBtn {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 0 30px 0;
    padding: 0;
    color: white;
    text-align: center;
    background: black;
  }
  /* line 22, ../sass/_mobile.scss */
  .shopBtn p {
    margin: 0;
    padding: 0;
    line-height: 40px;
  }
  /* line 26, ../sass/_mobile.scss */
  .shopBtn p a {
    color: inherit;
    margin: 0 0 0 5px;
    border-bottom: none;
  }
  /* line 31, ../sass/_mobile.scss */
  .shopBtn p:hover {
    color: white;
    border-bottom: none;
  }

  /* line 38, ../sass/_mobile.scss */
  .outer-wrap {
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 2;
  }

  /* line 46, ../sass/_mobile.scss */
  .container {
    width: 90%;
    padding: 0;
  }
  /* line 51, ../sass/_mobile.scss */
  .container #blog {
    width: 100%;
    padding: 30px 0 0 0;
    border-bottom: 1px solid #ccc;
  }
  /* line 55, ../sass/_mobile.scss */
  .container #blog .logo {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
  }
  /* line 59, ../sass/_mobile.scss */
  .container #blog .logo img {
    width: 100%;
    height: auto;
  }
  /* line 66, ../sass/_mobile.scss */
  .container #blog nav {
    width: 100%;
    float: none;
    position: static;
    margin: 0;
    padding: 0 0 10px 0;
  }
  /* line 72, ../sass/_mobile.scss */
  .container #blog nav ul {
    width: inherit;
    clear: left;
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: static;
    left: none;
    text-align: center;
  }
  /* line 82, ../sass/_mobile.scss */
  .container #blog nav ul li {
    display: inline;
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: static;
    right: none;
  }
  /* line 90, ../sass/_mobile.scss */
  .container #blog nav ul li a {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 0 10px 5px 10px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: none;
  }
  /* line 101, ../sass/_mobile.scss */
  .container #blog nav ul li a:hover {
    color: #42cdc8;
    border-bottom: none;
  }
  /* line 107, ../sass/_mobile.scss */
  .container #blog nav ul li:first-child a {
    padding: 0 0 5px 0;
  }
  /* line 110, ../sass/_mobile.scss */
  .container #blog nav ul li:last-child a {
    padding: 0 0 5px 0;
  }
  /* line 119, ../sass/_mobile.scss */
  .container #home {
    position: absolute;
    width: 65%;
    height: 100%;
    margin: 0;
    padding: 10% 10% 0 10%;
    top: 0;
    left: -85%;
    border-bottom: none;
    background: #f1f1f1;
    -webkit-box-shadow: inset -4px 0px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset -4px 0px 10px 0px rgba(0, 0, 0, 0.4);
  }
  /* line 134, ../sass/_mobile.scss */
  .container #home .logo {
    width: 100%;
    height: auto;
    margin: 0 0 20px -20%;
    opacity: 0;
  }
  /* line 139, ../sass/_mobile.scss */
  .container #home .logo img {
    width: 100%;
    height: auto;
  }
  /* line 146, ../sass/_mobile.scss */
  .container #home nav {
    width: 85%;
    float: none;
    position: static;
    margin: 0 0 0 20%;
    padding: 0;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
  }
  /* line 160, ../sass/_mobile.scss */
  .container #home nav ul {
    width: 100%;
    clear: left;
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: static;
    left: none;
    text-align: center;
  }
  /* line 170, ../sass/_mobile.scss */
  .container #home nav ul li {
    position: static;
    display: list-item;
    width: 100%;
    margin: 0;
    padding: 10px 5px;
    float: none;
    right: none;
    list-style: none;
    text-align: left;
    border-bottom: 1px solid #999;
  }
  /* line 181, ../sass/_mobile.scss */
  .container #home nav ul li a {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: none;
  }
  /* line 192, ../sass/_mobile.scss */
  .container #home nav ul li a:hover {
    color: #42cdc8;
    border-bottom: none;
  }
  /* line 198, ../sass/_mobile.scss */
  .container #home nav ul li:first-child a {
    padding: 0 0 5px 0;
  }
  /* line 201, ../sass/_mobile.scss */
  .container #home nav ul li:last-child a {
    padding: 0 0 5px 0;
  }
  /* line 210, ../sass/_mobile.scss */
  .container section {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 0 0;
  }
  /* line 214, ../sass/_mobile.scss */
  .container section article {
    width: inherit;
    margin: 0 0 20px 0;
  }
  /* line 226, ../sass/_mobile.scss */
  .container .slider {
    height: 200px !important;
  }

  /* line 232, ../sass/_mobile.scss */
  .wrapper {
    text-align: left;
    height: 50px;
  }
  /* line 236, ../sass/_mobile.scss */
  .wrapper .container .newsletter {
    display: none;
  }
  /* line 239, ../sass/_mobile.scss */
  .wrapper .container .right {
    float: left;
    width: 67%;
  }
  /* line 242, ../sass/_mobile.scss */
  .wrapper .container .right .left {
    width: 100%;
  }
  /* line 244, ../sass/_mobile.scss */
  .wrapper .container .right .left li {
    display: none;
    margin: 0;
    padding: 0 0 0 20px;
    line-height: 50px;
  }
  /* line 249, ../sass/_mobile.scss */
  .wrapper .container .right .left li:last-child {
    display: block;
  }
  /* line 252, ../sass/_mobile.scss */
  .wrapper .container .right .left li .cart {
    display: block;
    margin: 0;
  }
  /* line 258, ../sass/_mobile.scss */
  .wrapper .container .right .search {
    position: absolute;
    top: -40px;
    left: 0;
    margin: 0;
    padding: 0;
  }
  /* line 264, ../sass/_mobile.scss */
  .wrapper .container .right .search input[type="text"] {
    width: 90%;
    color: #222;
    padding: 0 5%;
    line-height: 40px;
    border-radius: 0;
    background: #f1f1f1;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  /* line 276, ../sass/_mobile.scss */
  .wrapper .container .right .search input[type="submit"] {
    display: none;
  }
  /* line 281, ../sass/_mobile.scss */
  .wrapper .container .right .social {
    display: none;
  }
  /* line 288, ../sass/_mobile.scss */
  .wrapper #nav-toggle,
  .wrapper #search-show {
    width: 20%;
    height: 50px;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -999em;
    border: none;
  }
  /* line 297, ../sass/_mobile.scss */
  .wrapper #nav-toggle:active,
  .wrapper #search-show:active {
    opacity: .7;
    -webkit-box-shadow: inset 0px 0px 30px 0px black;
    box-shadow: inset 0px 0px 30px 0px black;
  }
  /* line 306, ../sass/_mobile.scss */
  .wrapper #nav-toggle {
    float: left;
    background: #222222 url("../img/icon-menu.svg") no-repeat center;
    opacity: .5;
  }
  /* line 313, ../sass/_mobile.scss */
  .wrapper #search-show {
    position: absolute;
    top: 0;
    right: 0;
    background: #222222 url("../img/search.svg") no-repeat center;
    opacity: .5;
  }

  /* Shop Styles */
  /* line 326, ../sass/_mobile.scss */
  #cart,
  #main {
    width: 100%;
    padding: 0;
  }
  /* line 330, ../sass/_mobile.scss */
  #cart .woocommerce-info .button,
  #cart .woocommerce-message .button,
  #cart .woocommerce-error .button,
  #main .woocommerce-info .button,
  #main .woocommerce-message .button,
  #main .woocommerce-error .button {
    width: 100%;
    padding: 0 0 10px 0;
  }
  /* line 335, ../sass/_mobile.scss */
  #cart img,
  #main img {
    width: 100%;
    max-width: 320px;
    height: auto;
  }
  /* line 343, ../sass/_mobile.scss */
  #cart ul.products li,
  #main ul.products li {
    width: 100%;
    max-width: 320px;
    margin: 0 0 30px 0;
  }
  /* line 348, ../sass/_mobile.scss */
  #cart ul.products .first,
  #main ul.products .first {
    margin: 0 0 30px 0;
  }
  /* line 354, ../sass/_mobile.scss */
  #cart .images,
  #main .images {
    width: 100%;
    max-width: 320px;
  }
  /* line 357, ../sass/_mobile.scss */
  #cart .images .thumbnails,
  #main .images .thumbnails {
    width: 100%;
    margin: 1.4% 0 0 0;
  }
  /* line 360, ../sass/_mobile.scss */
  #cart .images .thumbnails a,
  #main .images .thumbnails a {
    width: 32.4%;
    margin: 0 1.4% 0 0;
  }
  /* line 363, ../sass/_mobile.scss */
  #cart .images .thumbnails a img,
  #main .images .thumbnails a img {
    width: 100% !important;
    height: auto !important;
  }
  /* line 369, ../sass/_mobile.scss */
  #cart .images a,
  #main .images a {
    margin: 0;
  }
  /* line 374, ../sass/_mobile.scss */
  #cart .summary,
  #main .summary {
    width: 100%;
  }
  /* line 376, ../sass/_mobile.scss */
  #cart .summary h1,
  #main .summary h1 {
    line-height: 30px;
  }
  /* line 382, ../sass/_mobile.scss */
  #cart .related ul.products,
  #main .related ul.products {
    margin: 0;
  }
  /* line 384, ../sass/_mobile.scss */
  #cart .related ul.products li,
  #main .related ul.products li {
    width: 49%;
    margin: 0 1% 2% 0;
  }
  /* line 387, ../sass/_mobile.scss */
  #cart .related ul.products li:nth-child(2n+2),
  #main .related ul.products li:nth-child(2n+2) {
    margin: 0 0 2% 1%;
  }
  /* line 390, ../sass/_mobile.scss */
  #cart .related ul.products li a,
  #main .related ul.products li a {
    margin: 0;
    width: 100%;
  }
  /* line 399, ../sass/_mobile.scss */
  #cart .woocommerce,
  #main .woocommerce {
    width: 100%;
  }
  /* line 402, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table,
  #cart .woocommerce .cart,
  #main .woocommerce .shop_table,
  #main .woocommerce .cart {
    width: 100%;
    border: 0;
  }
  /* line 405, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item,
  #cart .woocommerce .cart .cart_table_item,
  #main .woocommerce .shop_table .cart_table_item,
  #main .woocommerce .cart .cart_table_item {
    width: 100%;
    margin-top: 10px;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  /* line 416, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-remove,
  #cart .woocommerce .shop_table .cart_table_item .product-thumbnail,
  #cart .woocommerce .shop_table .cart_table_item .product-name,
  #cart .woocommerce .shop_table .cart_table_item .product-price,
  #cart .woocommerce .shop_table .cart_table_item .product-quantity,
  #cart .woocommerce .shop_table .cart_table_item .product-subtotal,
  #cart .woocommerce .cart .cart_table_item .product-remove,
  #cart .woocommerce .cart .cart_table_item .product-thumbnail,
  #cart .woocommerce .cart .cart_table_item .product-name,
  #cart .woocommerce .cart .cart_table_item .product-price,
  #cart .woocommerce .cart .cart_table_item .product-quantity,
  #cart .woocommerce .cart .cart_table_item .product-subtotal,
  #main .woocommerce .shop_table .cart_table_item .product-remove,
  #main .woocommerce .shop_table .cart_table_item .product-thumbnail,
  #main .woocommerce .shop_table .cart_table_item .product-name,
  #main .woocommerce .shop_table .cart_table_item .product-price,
  #main .woocommerce .shop_table .cart_table_item .product-quantity,
  #main .woocommerce .shop_table .cart_table_item .product-subtotal,
  #main .woocommerce .cart .cart_table_item .product-remove,
  #main .woocommerce .cart .cart_table_item .product-thumbnail,
  #main .woocommerce .cart .cart_table_item .product-name,
  #main .woocommerce .cart .cart_table_item .product-price,
  #main .woocommerce .cart .cart_table_item .product-quantity,
  #main .woocommerce .cart .cart_table_item .product-subtotal {
    width: 100%;
    float: left;
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
    display: table-column;
    vertical-align: middle;
  }
  /* line 425, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .title,
  #cart .woocommerce .cart .cart_table_item .title,
  #main .woocommerce .shop_table .cart_table_item .title,
  #main .woocommerce .cart .cart_table_item .title {
    width: 100%;
    padding: 5px 0;
    margin: 0 0 10px 0;
    border: none;
    background: none;
  }
  /* line 436, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-remove .title,
  #cart .woocommerce .shop_table .cart_table_item .product-thumbnail .title,
  #cart .woocommerce .shop_table .cart_table_item .product-name .title,
  #cart .woocommerce .shop_table .cart_table_item .product-price .title,
  #cart .woocommerce .cart .cart_table_item .product-remove .title,
  #cart .woocommerce .cart .cart_table_item .product-thumbnail .title,
  #cart .woocommerce .cart .cart_table_item .product-name .title,
  #cart .woocommerce .cart .cart_table_item .product-price .title,
  #main .woocommerce .shop_table .cart_table_item .product-remove .title,
  #main .woocommerce .shop_table .cart_table_item .product-thumbnail .title,
  #main .woocommerce .shop_table .cart_table_item .product-name .title,
  #main .woocommerce .shop_table .cart_table_item .product-price .title,
  #main .woocommerce .cart .cart_table_item .product-remove .title,
  #main .woocommerce .cart .cart_table_item .product-thumbnail .title,
  #main .woocommerce .cart .cart_table_item .product-name .title,
  #main .woocommerce .cart .cart_table_item .product-price .title {
    display: none;
  }
  /* line 440, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-remove,
  #cart .woocommerce .cart .cart_table_item .product-remove,
  #main .woocommerce .shop_table .cart_table_item .product-remove,
  #main .woocommerce .cart .cart_table_item .product-remove {
    width: 40px;
    background: #42cdc8;
    margin-bottom: 5px;
  }
  /* line 444, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-remove a,
  #cart .woocommerce .cart .cart_table_item .product-remove a,
  #main .woocommerce .shop_table .cart_table_item .product-remove a,
  #main .woocommerce .cart .cart_table_item .product-remove a {
    display: block;
    width: 40px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    color: white;
    font-weight: bold;
    font-size: 2em;
  }
  /* line 454, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-remove .title,
  #cart .woocommerce .cart .cart_table_item .product-remove .title,
  #main .woocommerce .shop_table .cart_table_item .product-remove .title,
  #main .woocommerce .cart .cart_table_item .product-remove .title {
    display: none;
  }
  /* line 458, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-name,
  #cart .woocommerce .cart .cart_table_item .product-name,
  #main .woocommerce .shop_table .cart_table_item .product-name,
  #main .woocommerce .cart .cart_table_item .product-name {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  /* line 462, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-name a,
  #cart .woocommerce .cart .cart_table_item .product-name a,
  #main .woocommerce .shop_table .cart_table_item .product-name a,
  #main .woocommerce .cart .cart_table_item .product-name a {
    font-size: 2em;
    line-height: 30px;
  }
  /* line 467, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-price,
  #cart .woocommerce .cart .cart_table_item .product-price,
  #main .woocommerce .shop_table .cart_table_item .product-price,
  #main .woocommerce .cart .cart_table_item .product-price {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    height: 60px;
    line-height: 60px;
    border-right: 1px solid #ccc;
  }
  /* line 474, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-price .amount,
  #cart .woocommerce .cart .cart_table_item .product-price .amount,
  #main .woocommerce .shop_table .cart_table_item .product-price .amount,
  #main .woocommerce .cart .cart_table_item .product-price .amount {
    font-size: 2em;
    font-style: italic;
    font-weight: 100;
  }
  /* line 480, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-quantity,
  #cart .woocommerce .cart .cart_table_item .product-quantity,
  #main .woocommerce .shop_table .cart_table_item .product-quantity,
  #main .woocommerce .cart .cart_table_item .product-quantity {
    width: 49%;
    height: 60px;
    margin: 0 auto;
  }
  /* line 484, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-quantity .title,
  #cart .woocommerce .cart .cart_table_item .product-quantity .title,
  #main .woocommerce .shop_table .cart_table_item .product-quantity .title,
  #main .woocommerce .cart .cart_table_item .product-quantity .title {
    display: none;
  }
  /* line 488, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-subtotal,
  #cart .woocommerce .cart .cart_table_item .product-subtotal,
  #main .woocommerce .shop_table .cart_table_item .product-subtotal,
  #main .woocommerce .cart .cart_table_item .product-subtotal {
    padding: 0 0 20px 0;
    background: #f1f1f1;
  }
  /* line 491, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-subtotal .title,
  #cart .woocommerce .cart .cart_table_item .product-subtotal .title,
  #main .woocommerce .shop_table .cart_table_item .product-subtotal .title,
  #main .woocommerce .cart .cart_table_item .product-subtotal .title {
    width: 95%;
    padding: 2.5%;
    margin-bottom: 20px;
    color: black;
    font-size: 1.15em;
    border-top: 1px solid #42cdc8;
    background: url("../img/message-stripes.png") repeat top left;
  }
  /* line 500, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-subtotal .amount,
  #cart .woocommerce .cart .cart_table_item .product-subtotal .amount,
  #main .woocommerce .shop_table .cart_table_item .product-subtotal .amount,
  #main .woocommerce .cart .cart_table_item .product-subtotal .amount {
    font-size: 2em;
    padding-left: 20px;
  }
  /* line 505, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .cart_table_item .product-thumbnail,
  #cart .woocommerce .cart .cart_table_item .product-thumbnail,
  #main .woocommerce .shop_table .cart_table_item .product-thumbnail,
  #main .woocommerce .cart .cart_table_item .product-thumbnail {
    margin-bottom: 0;
  }
  /* line 509, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .actions,
  #cart .woocommerce .cart .actions,
  #main .woocommerce .shop_table .actions,
  #main .woocommerce .cart .actions {
    width: 100%;
  }
  /* line 511, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .actions .coupon,
  #cart .woocommerce .cart .actions .coupon,
  #main .woocommerce .shop_table .actions .coupon,
  #main .woocommerce .cart .actions .coupon {
    width: 100%;
  }
  /* line 513, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .actions .coupon label,
  #cart .woocommerce .cart .actions .coupon label,
  #main .woocommerce .shop_table .actions .coupon label,
  #main .woocommerce .cart .actions .coupon label {
    display: block;
    width: 25%;
    height: 30px;
    float: left;
    margin: 0;
    padding: 2.5%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    background: #e1e1e1;
  }
  /* line 526, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .actions .coupon .input-text,
  #cart .woocommerce .cart .actions .coupon .input-text,
  #main .woocommerce .shop_table .actions .coupon .input-text,
  #main .woocommerce .cart .actions .coupon .input-text {
    display: block;
    width: 63.2855%;
    height: 28px;
    float: left;
    margin-left: 1%;
    padding: 2.5%;
  }
  /* line 534, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .actions .coupon .button,
  #cart .woocommerce .cart .actions .coupon .button,
  #main .woocommerce .shop_table .actions .coupon .button,
  #main .woocommerce .cart .actions .coupon .button {
    width: 100%;
  }
  /* line 538, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table .actions .options,
  #cart .woocommerce .cart .actions .options,
  #main .woocommerce .shop_table .actions .options,
  #main .woocommerce .cart .actions .options {
    width: 100%;
  }
  /* line 542, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table input.button,
  #cart .woocommerce .cart input.button,
  #main .woocommerce .shop_table input.button,
  #main .woocommerce .cart input.button {
    width: 100%;
    height: 40px;
    margin: 1% 0 0 0;
    border: none !important;
    background: black;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: none !important;
    -moz-border-radius: none !important;
    border-radius: none !important;
  }
  /* line 558, ../sass/_mobile.scss */
  #cart .woocommerce .shop_table input.checkout-button,
  #cart .woocommerce .cart input.checkout-button,
  #main .woocommerce .shop_table input.checkout-button,
  #main .woocommerce .cart input.checkout-button {
    color: white;
    background: #42cdc8;
  }
  /* line 564, ../sass/_mobile.scss */
  #cart .woocommerce .cart-collaterals,
  #main .woocommerce .cart-collaterals {
    width: 100%;
    font-size: 1.25em;
  }
  /* line 567, ../sass/_mobile.scss */
  #cart .woocommerce .cart-collaterals .shipping_calculator,
  #main .woocommerce .cart-collaterals .shipping_calculator {
    width: inherit;
  }
  /* line 569, ../sass/_mobile.scss */
  #cart .woocommerce .cart-collaterals .shipping_calculator h2,
  #main .woocommerce .cart-collaterals .shipping_calculator h2 {
    margin-bottom: 0;
  }
  /* line 572, ../sass/_mobile.scss */
  #cart .woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-form,
  #main .woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-form {
    width: inherit;
    padding-top: 20px;
  }
  /* line 578, ../sass/_mobile.scss */
  #cart .woocommerce .quantity,
  #main .woocommerce .quantity {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    position: static;
  }
  /* line 583, ../sass/_mobile.scss */
  #cart .woocommerce .quantity input[type="number"],
  #main .woocommerce .quantity input[type="number"] {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: none;
    padding: 0;
    font-size: 2em;
    font-weight: 100;
    background: #42cdc8;
    color: white;
    border-radius: 60px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 604, ../sass/_mobile.scss */
  #sidebar {
    width: 100%;
  }
  /* line 606, ../sass/_mobile.scss */
  #sidebar .desktop {
    display: none;
  }
  /* line 609, ../sass/_mobile.scss */
  #sidebar .mobile {
    display: block;
    width: inherit;
    margin-bottom: 15px;
    border-radius: 0;
    border: none;
  }
  /* line 616, ../sass/_mobile.scss */
  #sidebar h4 {
    margin: 0 0 5px 0;
    font-size: 1.15em;
  }

  /* line 622, ../sass/_mobile.scss */
  footer {
    width: 100%;
    text-align: center;
  }
  /* line 625, ../sass/_mobile.scss */
  footer .row {
    margin: 20px 0;
  }
  /* line 628, ../sass/_mobile.scss */
  footer .left {
    width: 100%;
  }
  /* line 630, ../sass/_mobile.scss */
  footer .left .block {
    width: 100%;
    margin: 0 0 30px 0;
    line-height: 18px;
  }
  /* line 636, ../sass/_mobile.scss */
  footer .right {
    float: none;
    margin: 20px 0 0 0;
    text-align: center;
  }
  /* line 640, ../sass/_mobile.scss */
  footer .right form {
    width: 255px;
    height: 30px;
    display: block;
    margin: 0 auto;
  }
  /* line 645, ../sass/_mobile.scss */
  footer .right form input[type="text"] {
    width: 167px;
  }
  /* line 648, ../sass/_mobile.scss */
  footer .right form input[type="submit"] {
    width: 68px;
  }
}
