@media all and (min-width: 320px) and (max-width: 750px) {
	//Basic Global Styles
	body,
	html{
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		font: normal 14px/18px 'Source Sans Pro', sans-serif;
		background: white;
	}
	
	.shopBtn{
		display: block;
		width: 100%;
		height: 40px;
		margin: 0 0 30px 0;
		padding: 0;
		color: white;
		text-align: center;
		background: black;
		p{
			margin: 0;
			padding: 0;
			line-height: 40px;
			a{
				color: inherit;
				margin: 0 0 0 5px;
				border-bottom: none;
			}
			&:hover{
				color: white;
				border-bottom: none;
			}
		}
	}

	.outer-wrap{
		width: 100%;
		left: 0;
		position: absolute;
		z-index: 2;
	}

	//Blog Header & Nav
	.container{
		width: 90%;
		padding: 0 5%;

	  	//Header Styles
		#blog{
			width: 100%;
			padding: 30px 0 0 0;
			border-bottom: 1px solid #ccc;
			.logo{
				width: 100%;
				height: auto;
				margin: 0 0 20px 0;
				img{
					width: 100%;
					height: auto;
				}
			}

			//Navigation
			nav{
				width: 100%;
				float: none;
				position: static;
				margin: 0;
				padding: 0 0 10px 0;
				ul{
					width: inherit;
					clear: left;
					float: none;
				  	list-style: none;
				  	margin: 0;
				  	padding: 0;
				  	position: static;
				  	left: none;
				  	text-align: center;
					li{
						display: inline;
					  	float: none;
					  	list-style: none;
					  	margin: 0;
					  	padding: 0;
					  	position: static;
					  	right: none;
						a{
							display: inline-block;
							float: none;
							padding: 0;
							margin: 0 10px 5px 10px;
							font-size: 1.2em;
							font-weight: 400;
							line-height: 24px;
							text-align: center;
							text-transform: uppercase;
							border-bottom: none;
							&:hover{
								color: $teal;
								border-bottom: none;
							}
						}
						&:first-child{
							a{ padding: 0 0 5px 0; }
						}
						&:last-child{
							a{ padding: 0 0 5px 0; }
						}
					}
				}
			}
		}
		

		//Shop Header & nav
		#home{
			position: absolute;
			width: 65%;
			height: 100%;
			margin: 0;
			padding: 10% 10% 0 10%;
			top: 0;
			left: -85%;
			border-bottom: none;
			background: #f1f1f1;

			//Depth
			-webkit-box-shadow: inset -4px 0px 10px 0px rgba(0, 0, 0, .4);
			        box-shadow: inset -4px 0px 10px 0px rgba(0, 0, 0, .4);

			.logo{
				width: 100%;
				height: auto;
				margin: 0 0 20px 0;
				img{
					width: 100%;
					height: auto;
				}
			}

			//Navigation
			nav{
				width: 80%;
				float: none;
				position: static;
				margin: 0;
				padding: 0;
				ul{
					width: 100%;
					clear: left;
					float: none;
				  	list-style: none;
				  	margin: 0;
				  	padding: 0;
				  	position: static;
				  	left: none;
				  	text-align: center;
					li{
						position: static;
						display: list-item;
						width: 100%;
						margin: 0;
					  	padding: 10px 5px;
					  	float: none;
					  	right: none;
					  	list-style: none;
					  	text-align: left;
					  	border-bottom: 1px solid #999;
						a{
							display: inline-block;
							float: none;
							padding: 0;
							margin: 0;
							font-size: 1.2em;
							font-weight: 400;
							line-height: 24px;
							text-align: center;
							text-transform: uppercase;
							border-bottom: none;
							&:hover{
								color: $teal;
								border-bottom: none;
							}
						}
						&:first-child{
							a{ padding: 0 0 5px 0; }
						}
						&:last-child{
							a{ padding: 0 0 5px 0; }
						}
					}
				}
			}
		}


		//Blog Posts & Styling
		section{
			width: 100%;
			margin: 0 auto;
			padding: 40px 0 0 0;
			article{
				width: inherit;
				margin: 0 0 20px 0;
				// img{
				// 	width: 100%; height: auto;
				// 	margin: 0 0 10px;
				// }
			}
		}


		//Image Slider - Temporary ( revolution is responsive on its own )
		.slider{
			height: 200px !important;
		}
	}


	.wrapper{
		text-align: left;
		.container{
			display: none;
		}

		#nav-toggle{
			color: white;
		}
	}
}