@media all and (min-width: 320px) and (max-width: 1280px) {
	//Basic Global Styles
	body,
	html{
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		font: normal 14px/18px 'Source Sans Pro', sans-serif;
		background: white;
	}

	.shopBtn{
		display: block;
		width: 100%;
		height: 40px;
		margin: 0 0 30px 0;
		padding: 0;
		color: white;
		text-align: center;
		background: black;
		p{
			margin: 0;
			padding: 0;
			line-height: 40px;
			a{
				color: inherit;
				margin: 0 0 0 5px;
				border-bottom: none;
			}
			&:hover{
				color: white;
				border-bottom: none;
			}
		}
	}

	.outer-wrap{
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		z-index: 2;
	}

	//Blog Header & Nav
	.container{
		width: 90%;
		padding: 0;

		.lookBook_meta{
			width: 100%;
		}

	  	//Header Styles
		#blog{
			width: 100%;
			padding: 30px 0 0 0;
			border-bottom: 1px solid #ccc;
			.logo{
				width: 100%;
				height: auto;
				margin: 0 0 20px 0;
				img{
					width: 100%;
					height: auto;
				}
			}

			//Navigation
			nav{
				width: 100%;
				float: none;
				position: static;
				margin: 0;
				padding: 0 0 10px 0;
				ul{
					width: inherit;
					clear: left;
					float: none;
				  	list-style: none;
				  	margin: 0;
				  	padding: 0;
				  	position: static;
				  	left: none;
				  	text-align: center;
					li{
						display: inline;
					  	float: none;
					  	list-style: none;
					  	margin: 0;
					  	padding: 0;
					  	position: static;
					  	right: none;
						a{
							display: inline-block;
							float: none;
							padding: 0;
							margin: 0 10px 5px 10px;
							font-size: 1.2em;
							font-weight: 400;
							line-height: 24px;
							text-align: center;
							text-transform: uppercase;
							border-bottom: none;
							&:hover{
								color: $teal;
								border-bottom: none;
							}
						}
						&:first-child{
							a{ padding: 0 0 5px 0; }
						}
						&:last-child{
							a{ padding: 0 0 5px 0; }
						}
					}
				}
			}
		}


		//Shop Header & nav
		#home{
			position: absolute;
			width: 65%;
			height: 100%;
			margin: 0;
			padding: 10% 10% 0 10%;
			top: 0;
			left: -85%;
			border-bottom: none;
			background: #f1f1f1;

			//Depth
			-webkit-box-shadow: inset -4px 0px 10px 0px rgba(0, 0, 0, .4);
			        box-shadow: inset -4px 0px 10px 0px rgba(0, 0, 0, .4);

			.logo{
				width: 100%;
				height: auto;
				margin: 0 0 20px -20%;
				opacity: 0;
				img{
					width: 100%;
					height: auto;
				}
			}

			//Navigation
			nav{
				width: 100%;
				float: none;
				position: static;
				margin: 0 0 0 20%;
				padding: 0;
				opacity: 0;

				//EaseInOut
				-webkit-transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
				   -moz-transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
				    -ms-transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
				     -o-transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
				        transition: all 200ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
				ul{
					width: 100%;
					clear: left;
					float: none;
				  	list-style: none;
				  	margin: 0;
				  	padding: 0;
				  	position: static;
				  	left: none;
				  	text-align: center;
					li{
						position: static;
						display: list-item;
						width: 100%;
						margin: 0;
					  	padding: 10px 5px;
					  	float: none;
					  	right: none;
					  	list-style: none;
					  	text-align: left;
					  	border-bottom: 1px solid #999;
						a{
							display: inline-block;
							float: none;
							padding: 0;
							margin: 0;
							font-size: 1.2em;
							font-weight: 400;
							line-height: 24px;
							text-align: center;
							text-transform: uppercase;
							border-bottom: none;
							&:hover{
								color: $teal;
								border-bottom: none;
							}
						}
						&:first-child{
							a{ padding: 0 0 5px 0; }
						}
						&:last-child{
							a{ padding: 0 0 5px 0; }
						}
					}
				}
			}
		}


		//Blog Posts & Styling
		section{
			width: 100%;
			margin: 0 auto;
			padding: 40px 0 0 0;
			article{
				width: inherit;
				margin: 0 0 20px 0;
				// img{
				// 	width: 100%; height: auto;
				// 	margin: 0 0 10px;
				// }
			}
		}


		//Image Slider - Temporary ( revolution is responsive on its own )
		.slider{
			.tparrows{
				display: none;
			}
		}
	}


	.wrapper{
		text-align: left;
		height: 50px;
		.container{
			.newsletter{
				display: none;
			}
			.right{
				float: left;
				width: 67%;
				.left{
					width: 100%;
					li{
						display: none;
						margin: 0;
						padding: 0 0 0 20px;
						line-height: 50px;
						&:last-child{
							display: block;
						}
						.cart{
							margin: 0;
							text-transform: uppercase;
						}
					}
				}
				.search{
					position: absolute;
					top: -40px;
					left: 0;
					margin: 0;
					padding: 0;
					input[type="text"]{
						width: 90%;
						color: #222;
						padding: 0 5%;
						line-height: 40px;
						border-radius: 0;
						background: #f1f1f1;

						//Depth
						-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .5);
						        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .5);
					}
					input[type="submit"]{
						display: none;
					}
				}

				.social{
					display: none;
				}
			}
		}

		#nav-toggle,
		#search-show{
			width: 20%;
			height: 50px;
			display: block;
			margin: 0;
			padding: 0;
			overflow: hidden;
			text-indent: -999em;
			border: none;
			&:active{
				opacity: .7;

				//Depth
				-webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
				        box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
			}
		}

		#nav-toggle{
			float: left;
			// border-right: 1px solid #444;
			background: #222 url('../img/icon-menu.svg') no-repeat center;
			opacity: .7;
		}

		#search-show{
			position: absolute;
			top: 0;
			right: 0;
			// border-left: 1px solid #444;
			background: #222 url('../img/search.svg') no-repeat center;
			opacity: .7;
		}
	}


	/* Shop Styles */
	#cart,
	#main{
		.woocommerce-info,
		.woocommerce-message,
		.woocommerce-error{
			.button{
				width: 100%;
				padding: 0 0 10px 0;
			}
		}
		img{
			width: 100%;
			max-width: 320px;
			height: auto;
		}
		width: 100%;
		padding: 0;
		ul.products{
			li{
				width: 100%;
				max-width: 320px;
				margin: 0 10px 30px 0;
				float: left;
			}
			.first{
				margin: 0 10px 30px 0;
			}
		}

		//Shop Single
		.images{
			width: 100%;
			max-width: 320px;
			.thumbnails{
				width: 100%;
				margin: 1.4% 0 0 0;
				a{
					width: 32.4%;
					margin: 0 1.4% 0 0;
					img{
						width: 100% !important;
						height: auto !important;
					}
				}
			}
			a{
				margin: 0;
			}
		}

		.summary{
			width: 100%;
			h1{
				line-height: 30px;
			}
		}

		.related{
			ul.products{
				margin: 0;
				li{
					width: 49%;
					margin: 0 1% 2% 0;
					&:nth-child(2n+2){
						margin: 0 0 2% 1%;
					}
					a{
						margin: 0;
						width: 100%;

					}
				}
			}
		}

		.woocommerce{
			width: 100%;
			.shop_table,
			.cart{
				width: 100%;
				border: 0;
				.cart_table_item{
					width: 100%;
					margin-top: 10px;
					padding: 0;
					font-weight: bold;
					text-transform: uppercase;
					.product-remove,
					.product-thumbnail,
					.product-name,
					.product-price,
					.product-quantity,
					.product-subtotal{
						width: 100%;
						float: left;
						margin: 0 0 20px 0;
						padding: 0;
						text-align: left;
						display: table-column;
						vertical-align: middle;
					}
					.title{
						width: 100%;
						padding: 5px 0;
						margin: 0 0 10px 0;
						border:none;
						background: none;
					}
					.product-remove,
					.product-thumbnail,
					.product-name,
					.product-price{
						.title{
							display: none;
						}
					}
					.product-remove{
						width: 40px;
						background: $teal;
						margin-bottom: 5px;
						a{
							display: block;
							width: 40px;
							height: 39px;
							text-align: center;
							line-height: 39px;
							color: white;
							font-weight: bold;
							font-size: 2em;
						}
						.title{
							display: none;
						}
					}
					.product-name{
						margin-bottom: 10px;
						padding-bottom: 5px;
						text-align: left;
						border-bottom: 1px solid #ccc;
						a{
							padding-left: 0;
							font-size: 2em;
							line-height: 30px;
						}
						.variation{
							margin: 0;
						}
					}
					.product-price{
						width: 50%;
						text-align: center;
						margin-bottom: 10px;
						height: 60px;
						line-height: 60px;
						border-right: 1px solid #ccc;
						.amount{
							font-size: 2em;
							font-weight: 100;
						}
					}
					.product-quantity{
						width: 49%;
						height: 60px;
						margin: 0;
						text-align: center;
						.title{
							display: none;
						}
					}
					.product-subtotal{
						padding: 0 0 20px 0;
						background: #f1f1f1;
						.title{
							width: 95%;
							padding: 2.5%;
							margin-bottom: 20px;
							color: black;
							font-size: 1.15em;
							border-top: 1px solid $teal;
							background: url('../img/message-stripes.png') repeat top left;
						}
						.amount{
							font-size: 2em;
							padding-left: 20px;
						}
					}
					.product-thumbnail{
						margin-bottom: 0;
					}
				}
				.actions{
					width: 100%;
					.coupon{
						width: 100%;
						label{
							display: block;
							width: 25%;
							height: 30px;
							float: left;
							margin: 0;
							padding: 2.5%;
							text-align: center;
							font-weight: bold;
							text-transform: uppercase;
							line-height: 30px;
							background: #e1e1e1;
						}
						.input-text{
							display: block;
							width: 63.2855%;
							height: 28px;
							float: left;
							margin-left: 1%;
							padding: 2.5%;
						}
						.button{
							width: 100%;
						}
					}
					.options{
						width: 100%;
					}
				}
				input.button{
					width: 100%;
					height: 40px;
					margin: 1% 0 0 0;
					border: none !important;
					background: black;

					//Remove woocommerce defaulta
					-webkit-box-shadow: none !important;
					   -moz-box-shadow: none !important;
							box-shadow: none !important;

					-webkit-border-radius: none !important;
					   -moz-border-radius: none !important;
							border-radius: none !important;
				}
				input.checkout-button{
					color: white;
					background: $teal;
				}
			}

			.checkout{
				img{
					width: auto;
					height: auto;
				}
				.col2-set{
					font-size: 1.15em;
					.col-1,
					.col-2{
						width: 100%;
					}
				}
				#shiptobilling{
					float: left;
					margin: 30px 0 0 0;
					label{
						font-size: 1.15em;
					}
				}
				#order_review{
					font-size: 1.15em;
				}
			}

			.cart-collaterals{
				width: 100%;
				font-size: 1.25em;
				.shipping_calculator{
					width: inherit;
					h2{
						margin-bottom: 30px;
					}
					.shipping-calculator-form{
						width: inherit;
						padding-top: 20px;
					}
				}
			}
			.quantity{
				width: 60px;
				height: 60px;
				margin: 0 auto;
				position: static;
				input[type="number"]{
					width: 60px;
					height: 60px;
					line-height: 60px;
					text-align: center;
					border: none;
					padding: 0 !important;
					font-size: 2em;
					font-weight: 100;
					background: $teal;
					color: white;
					border-radius: 60px;

					-webkit-box-shadow: none;
					   -moz-box-shadow: none;
						    box-shadow: none;
				}
				.plus,
				.minus{
					display: none;
				}
			}
		}
	}

	#sidebar{
		width: 100%;
		.desktop{
			display: none;
		}
		.mobile{
			display: block;
			width: inherit;
			height: 50px;
			margin-bottom: 15px;
			text-indent: 20px;
			border-radius: 0;
			border: none;
		}
		h4{
			margin: 0 0 5px 0;
			font-size: 1.15em;
		}
	}

	footer{
		width: 100%;
		text-align: center;
		.row{
			margin: 20px 0;
		}
		.left{
			display: none;
			// width: 100%;
			// .block{
			// 	width: 100%;
			// 	margin: 0 0 30px 0;
			// 	line-height: 18px;
			// }
		}
		.right{
			float: none;
			margin: 20px 0 0 0;
			text-align: center;
			form{
				width: 255px;
				height: 30px;
				display: block;
				margin: 0 auto;
				input[type="text"]{
					width: 167px;
				}
				input[type="submit"]{
					width: 68px;
				}
			}
		}
	}
}