/* Start Shop Styling */
#sidebar{
	width: 160px;
	float: left;
	text-align: left;
	h4{
		margin: 44px 0 5px 0;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			a{
				color: black;
				&:hover{
					color: $teal;
				}
			}
		}
	}
}

#main{
	width: 940px;
	float: left;
	text-align: left;

	.tabs{
		display: none;
	}

	.button{
		height: 40px;
		padding: 0 15px;
		color: white;
		font-weight: bold;
		line-height: 40px;
		text-transform: uppercase;
		border: none;
		background: black;
		&:hover{
			background: $teal;
		}
	}

	.woocommerce{
		width: 50%;
		.woocommerce-info,
		.woocommerce-message,
		.woocommerce-error{
			margin-top: 10px;
			background: #e1e1e1;
			border-top: 0;
			-webkit-border-radius: 0 !important;
					border-radius: 0 !important;
			text-shadow: none;
			&:before{

			}
		}
		h2,h3{
			font-size: 1.5em;
			text-transform: uppercase;
		}
		form{
			.input-text{
				padding: 5px 10px;
				border: none;
				border: 1px solid #ccc;
				&:focus{
					border: 1px solid #999;
				}
			}
			.button{
				text-shadow: none;
				-webkit-border-radius: none !important;
						border-radius: none !important;
			}
		}

		.addresses{
			.title{
				h3{
					font-size: 1.3em;
				}
				.edit{
					color: black;
					&:hover{
						color: $teal;
					}
				}
			}
		}
	}

	//Breadcrumbs
	.woocommerce-breadcrumb{
		margin: 8px 0 20px 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: bold;
		a{
			font-weight: normal;
		}
		// .home{
		// 	width:;
		// 	height:;
		// 	overflow: hidden;
		// 	background: url('../img/icon-home.svg') no-repeat center;
		// }
	}

	//Product list
	ul.products{
		width: 100%;
		margin: 0;
		padding: 0;
		li{
			width: 220px;
			float: left;
			margin: 0 0 30px 20px;
			text-align: center;
			list-style: none;
			a{
				&:hover{
					color: $teal;
				}
			}
			p{
				margin: 0;
				font-weight: 700;
				text-transform: capitalize;
			}
		}
		.first{
			margin: 0;
		}
	}

	//Shop single
	.images{
		float: left;
		a{
			margin: 0 20px 0 0;
		}
		a{
			float: left;
		}
		.thumbnails{
			width: 104px;
			float: left;
			margin: 0 20px 0 0;
			a{
				width: 104px;
				height: 150px;
				margin: 0 0 20px 0;
				img{
					width: auto;
					height: 100%;
				}
				&:last-child{
					margin: 0;
				}
			}
		}
	}
	
	//Product meta
	.summary{
		width: 450px;
		float: left;
		h1{
			margin: 0 0 5px 0;
		}
		.product_meta{
			.sku{
				font-style: italic;
			}
		}
		.price{
			margin: 30px;
			span{
				font-size: 2.5em;
				font-style: italic;
				font-weight: bold;
			}
		}
		
		.quantity{
			input[type="number"]{
				float: left;
				width: 40px;
				height: 40px;
				margin: 0 10px 0 0;
				padding: 0 15px;
				line-height: 40px;
				background: #e1e1e1;
				border: none;
			}
		}
		
		//Add to cart button
		.single_add_to_cart_button{
			float: left;
		}
	}
	
	//Related products
	.related{
		width: 100%;
		margin: 50px 0 0 0;
		ul.products{
			margin: 0 0 0 -10px;
			li{
				width: 175px;
				margin: 0 10px 0 0;
				a{
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}