/* Start Shop Styling */
#sidebar{
	width: 20%;
	float: left;
	text-align: left;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			a{
				&:hover{
					color: $teal;
				}
			}
		}
	}
}

#main{
	width: 80%;
	float: left;
	text-align: left;

	//Breadcrumbs
	.woocommerce-breadcrumb{
		margin: 8px 0 20px 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: bold;
		a{
			font-weight: normal;
		}
	}

	//Product list
	ul.products{
		margin: 0;
		padding: 0;
		li{
			list-style: none;
		}
	}
}